@using WallIT.Logic.Identity
@using Microsoft.AspNetCore.Mvc.Localization

@inject AppSignInManager SignInManager
@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web2</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/lib/wallit/scss/app/app.min.css" />
    <link rel="stylesheet" href="~/lib/wallit/scss/app/menu.min.css" />
    <link rel="stylesheet" href="~/css/site.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/6096ca5492.js"></script>
</head>
<body>
    <div class="menu-container">
        <div class="container">
            <div class="row mt-5">
                <div class="w-100 menu-row-content nobreak text-center menu-title">
                    <!--Title-->
                    <span class="p-0 font-weight-bold">
                        @Localizer["WallIT"]
                    </span>
                </div>
                <div class="tile-under-line"></div>
            </div>
            <div class="row mt-3">
                <!--Rows-->
                <a href="/Home/Statics" class="w-100  site-btn">
                    <div class="row m-3">
                        <div class="col-2">
                            <span class="menu-icon">
                                <i class="fas fa-chart-pie"></i>
                            </span>
                        </div>
                        <div class="col-9">
                            <div class="menu-row-content nobreak">
                                <span>
                                    @Localizer["Statics"]
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="menu-under-line"></div>
                </a>
            </div>
            <div class="row mt-3">
                <!--Rows-->
                <a href="/CreditCard/Details" class="w-100  site-btn">
                    <div class="row m-3">
                        <div class="col-2">
                            <span class="menu-icon">
                                <i class="fas fa-credit-card"></i>
                            </span>
                        </div>
                        <div class="col-9">
                            <div class="menu-row-content nobreak">
                                <span>
                                    @Localizer["Credit Cards"]
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="menu-under-line"></div>
                </a>
            </div>
            <div class="row mt-3">
                <!--Rows-->
                <a href="/Subject/SubjectDetails" class="w-100  site-btn">
                    <div class="row m-3">
                        <div class="col-2">
                            <span class="menu-icon">
                                <i class="far fa-address-book"></i>
                            </span>
                        </div>
                        <div class="col-9">
                            <div class="menu-row-content nobreak">
                                <span>
                                    @Localizer["Subjects"]
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="menu-under-line"></div>
                </a>
            </div>
            <div class="row mt-3">
                <!--Rows-->
                <a href="/Plans/RecordPlannedDetails" class="w-100  site-btn">
                    <div class="row m-3">
                        <div class="col-2">
                            <span class="menu-icon">
                                <i class="fas fa-ruler-combined"></i>
                            </span>
                        </div>
                        <div class="col-9">
                            <div class="menu-row-content nobreak">
                                <span>
                                    @Localizer["Plans"]
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="menu-under-line"></div>
                </a>
            </div>
            <div class="row mt-3">
                <!--Rows-->
                <a href="/Record/RecordDetails" class="w-100 site-btns">
                    <div class="row m-3">
                        <div class="col-2">
                            <span class="menu-icon">
                                <i class="far fa-clipboard"></i>
                            </span>
                        </div>
                        <div class="col-9">
                            <div class="menu-row-content nobreak">
                                <span>
                                    @Localizer["Records"]
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="menu-under-line"></div>
                </a>
            </div>
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="row mt-3">
                    <!--Rows-->
                    <a href="/Home/Signout" class="w-100 site-btn">
                        <div class="row m-3">
                            <div class="col-2">
                                <span class="menu-icon">
                                    <i class="fas fa-sign-out-alt"></i>
                                </span>
                            </div>
                            <div class="col-9">
                                <div class="menu-row-content nobreak">
                                    <span>
                                        @Localizer["SignOut"]
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="menu-under-line"></div>
                    </a>
                </div>
            }
        </div>
    </div>
    <div class="logo">
        Logo
    </div>
    <div class="header-menu">
        <div class="row align-items-center">
            <div class="col-2">
                <button class="menu-btn m-2">
                    <span class="h3">
                        <i class="fas fa-bars"></i>
                    </span>
                </button>
            </div>
            <div class="col-10 text-lg-right">
                @if (SignInManager.IsSignedIn(User))
                {
                    <span class="mr-2">
                        Signedin Name
                    </span>
                }
                else
                {
                    <a href="/UserAccount/Login" class="site-btn">
                        <span class="mr-2">
                            <i class="fas fa-user"></i> SignIn
                        </span>
                    </a>
                }
            </div>
        </div>
    </div>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    &copy; 2020, - WallIT - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
                <div class="col-6">
                    <partial name="_SelectLanguagePartial" />
                </div>
            </div>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <!--<script src="~/js/notify.min.js" asp-append-version="true"></script>-->
    <script>
        var menuisvisible = true;
        function setUrlactive() {
            var url = window.location.pathname;
            for (var i = 0; i < $(".site-btn").length; i++) {
                var getclass = $(".site-btn:eq(" + i + ")");
                var href = getclass.attr("href");
                if (href == url) {
                    getclass.css("color", "white");
                } else {
                    getclass.css("color", "rgba(222, 237, 236, 1.00)");
                }
            }
        }
        $(document).ready(function () {
            setUrlactive();
        });
        $(".menu-btn").click(function () {
            if (menuisvisible) {
                $(".menu-container").css("margin-left", "-310px");
                $(".header-menu").css("margin-left", "0px");
                $(".header-menu").css("width", "100%");
                menuisvisible = false;
            } else {
                $(".menu-container").css("margin-left", "0px");
                $(".header-menu").css("margin-left", "300px");
                $(".header-menu").css("width", "calc(100% - 300px)");
                menuisvisible = true;
            }
        });
        $(".site-btn").click(function () {
            alert($(this).attr("href"));
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
